*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #5c5ced;
}
.section-color{
    background-color: #f7bc46;
}
aside{
    background-color: #f87e52;
}
section div{
    background-color: #49f395;
}
footer{
    background-color: #f6581e;
}